
AstralNew/bin/Debug/netcoreapp2.0/AstralNew.pdb
AstralNew/bin/Debug/netcoreapp2.0/AstralNew.runtimeconfig.dev.json
AstralNew/bin/Debug/netcoreapp2.0/AstralNew.runtimeconfig.json
AstralNew/bin/Debug/netcoreapp2.0/AstralNew.dll
AstralNew/bin/Debug/netcoreapp2.0/AstralNew.deps.json
AstralNew/bin/Debug/netcoreapp2.0/AstralNew.DAL.pdb
AstralNew/bin/Debug/netcoreapp2.0/AstralNew.DAL.dll
AstralNew.DAL/bin/Debug/netcoreapp2.0/AstralNew.DAL.deps.json
AstralNew.DAL/bin/Debug/netcoreapp2.0/AstralNew.DAL.dll
AstralNew.DAL/bin/Debug/netcoreapp2.0/AstralNew.DAL.pdb
